// Specific CSS for your home-page
body {
  background-color: #D2DBE6;
  color: rgb(59, 59, 59);
}

.title {
  font-size: 50px;
  text-shadow: 1px 1px 2px rgb(160, 160, 160);
}

.modal-content {
  border-radius: 15px;
  border: 0px solid transparent;
  padding: 30px;
}
