<h1> Oeuvres disponibles </h1>

<div class="cards-container">
  <% @artworks.each do |artwork| %>
  <div class="artwork-card">

    <div class="artwork-photo-category">
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
      <span><%= artwork.category %></span>
    </div>

    <ul style="list-style: none;">
      <li><strong><%= artwork.title %></strong></li>
      <li>
        <%= link_to "Découvrir cette oeuvre", artwork_path(artwork), class: "btn btn-ghost" %>
      </li>
    </ul>
  </div>
  <% end %>
</div>
