<div class="navbar navbar-expand-sm navbar-lewagon px-3 py-3 mb-3">
  <div class="container-fluid">
    <h2><strong>Gally.</strong></h2>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars.githubusercontent.com/u/93728030?v=4" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Mon profil</a>
              <a class="dropdown-item" href="#">Créer une annonce</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
