
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)), url(https://99designs-blog.imgix.net/blog/wp-content/uploads/2021/04/97743315.jpeg?auto=format&q=60&fit=max&w=930);">
  <div class="container">
    <h1>Welcome to Gally</h1> </strong>  <strong>bring artworks at home</strong>!</h1>
    <p>Change your life and get a new Artworks every week </p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>



