<div class="container">
  <div class="big-card d-flex justify-content-between align-items-center">
    <div class="p-5">
      <h1><strong>L'art chez vous</strong></h1>
      <p>Louez des oeuvres d'art pour un jour, un mois, un an. Selon vos envies.</p>
      <div class="input-group py-3 d-flex">
        <input type="text" class="btn-ghost form-control" placeholder="Un artiste, un style ou un mot-clé" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button class="btn-ghost" type="button">Début</button>
        <button class="btn-ghost" type="button">Fin</button>
      </div>
      <div class="input-group-append d-flex justify-content-center mt-3">
      <%=link_to artworks_path do%>
       <button class="btn-yellow-rounded" type="button">Let's Art</button>
       <%end%>
      </div>
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1569172122301-bc5008bc09c5?ixlib=rb-1.2.1&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="photo">
    </div>
  </div>
</div>

<div class="container mt-5">
  <h1 class="mb-5">Nos styles.</h1>
<div class="card-grid">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/w-i-l-l-p-o-w-e-r-vlad-bubnov.jpg)">
    Photos
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.artmajeur.com/medias/standard/j/y/jyrendo/artwork/11637314_streetart-vs-figurativeart-80x60-cm.jpg)">
    StreetArt
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.carredartistes.com/products_images/prod_20664/d_figuratif-100-x-100-cm-eric-munsch-sublime-orange-front-0.jpg)">
    Peintures
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.artmajeur.com/medias/standard/o/l/olidumont/artwork/7904269_le-retour-aux-sources.jpg)">
    Abstrait
  </div>
</div>
