.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.artwork-card {
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}

.artwork-photo-category {
  position: relative;
  span {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 15px;
  }
}


img, svg {
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
