.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link a {
  color: black;
}

h2 {
  color: white;
  text-shadow: 1px 1px 2px rgb(252, 221, 226);
}
